<div class="pod outer">
	<h2>Frog now</h2>
	<p>We have a single core product called the <strong class="highlight">Frog Development Platform</strong>.  Our Design Team and customers use this platform to create websites, <a href="http://en.wikipedia.org/wiki/Virtual_learning_environment" title="Description of a VLE">Virtual Learning Environments</a> and standalone applications.</p>
	<p>The platform consists of a number of building blocks we call <strong class="highlight">Frog Bricks</strong>, these bricks are used to create anything from simple page layouts to adding full featured email clients to your pages.</p>
	<p>Our product is installed as a standalone server with the ability to manage email, proxies and firewalls as well as the platform itself along applications built using it.</p>
</div>
<div class="pod">
	<h2>Our plans</h2>
	<p>We're keen advocates of open standards, software and ideas. Over the next 18 months our primary objective is too expose as much of our platform and data as possible. We'll be releasing phase one of our <strong class="highlight">API's</strong> this Summer and can't wait to see what our customers, partners and other 3rd party developers do with our platform.</p>
	<p>We're also planning our first product based on the new Frog Core API's.  Our recent growth has provided a number of <strong class="highlight">new opportunities</strong> for our software, offering the chance to influence whole generations on a monstrous scale.</p>
</div>
<div class="pod outer">
	<h2>Who we need</h2>
	<ul id="skills">
		<li id="hackers">
			<p><strong>Hackers</strong>: We're a PHP/MySQL house but if you enjoy solving problems, have commercial experience of programming and are confident your can port your skills we'd like to meet you.</p>
		</li>
		<li id="communicators">
			<p><strong>Communicators</strong>: We've got some rather large problems to solve, we don't expect our guys to figure these things themselves. Teamwork, peer reviews and dev chit chat are part of everyday life.</p>
		</li>
		<li id="tea">
			<p><strong>Tea Drinkers</strong>: If your a dev, your in the round, you might as well enjoy a brew for all the effort.</p>
		</li>
	</ul>
</div>
<hr />
<div class="pod-large">
<h2>About frog &amp; our dev team</h2>
<p>FrogTrade Ltd was established in 1999 and now has over 70 employees. The head office is based in <strong class="highlight">Halifax</strong>, West Yorkshire but we're investigating opportunities to open a <strong class="highlight">Leeds</strong> satellite office.</p> 
<p>We believe that the key to engaging students and teachers is to give them ownership.  That is why we put the power back into our customers hands - the Frog Platform can be anything you want it to be.</p>
<p>Our development team is 11 strong so far and we're looking to expand by another 6-7.  We'll be splitting our team into 2 sub-teams, one to further develop the Frog Core product, one to build a brand new tool based on the Frog Core.</p>
<p>Our senior development team currently consists of <strong class="highlight">Adam Hepton</strong> (Senior Developer &amp; Javascript Guru), <strong class="highlight">Andy Smith</strong> (Senior Analyst &amp; the brains behind <a href="http://www.spotibot.com/" title="Music finder">Spotibot</a>), <strong class="highlight">John Walker</strong> (Development Manager &amp; creator of <a href="http://alltradeart.co.uk" title="Artist portfolio provider">alltradeart</a>) and <strong class="highlight">Rob Tuley</strong> (Architect &amp; creator of the <a href="http://knotwerk.com/" title="Knotwerk Framework">Knotwork php5 framework</a>).</p>
<p>We offer a range of employee benefits but the headlines are 21 days holiday, sick pay and <strong class="highlight">half a day per week</strong> to develop your own apps and ideas.</p>
</div>
<div class="pod outer">
	<img src="/images/visual-1.jpg" alt="" title="" />
	<img src="/images/visual-2.jpg" alt="" title="" />
</div>
<hr />
<h2>Our recruitment process</h2>
<p>If you have at least some experience with XHTML, Javascript, CSS, PHP and MySQL we'd like to hear from you.  We're looking to recruit <strong class="highlight">6-7 application developers</strong> with salary expectations between <strong class="highlight">&pound;20k-&pound;35k</strong> depending on experience. We typically recruit developers under the job title 'PHP Developer' and see how their role within the team evolves but if you have previous experience with managing a team we'll consider a more defined role.</p>
<ol>
	<li>CV Submission, apply directly to <a href="mailto:claire.bailey@frogtrade.com" title="Email Claire">claire.bailey@frogtrade.com.</a></li>
	<li>Online tech test, PHP/Javascript specific but open book and un-timed, we'll have an idea how we expect you to do based on your CV.</li>
	<li>Company Introduction and onsite tech questions with a senior member of our team, focused on problem solving and general programming concepts.</li>
	<li>One on One with our Development Manager and your chance to grill us.</li>
</ol>