<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Frog Developer Recruitment</title>
		<link rel="icon" type="image/x-icon" href="favicon.ico" />  
		<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.0r4/build/reset-fonts-grids/reset-fonts-grids.css" />
		<link rel="stylesheet" type="text/css" href="css/application.css" />
  </head>
  <body>
		<div id="content">
			<div id="header">
				<img src="/images/logo-frog.gif" alt="Frog Trade Logo" title="Frog Trade Logo" id="logo-frog" />
		    <h1>Developer Recruitment</h1>
				<p><strong  class="highlight">FrogTrade</strong> is a software company based in West Yorkshire. We're expanding our development team with opportunities available in either <strong class="highlight">Halifax</strong> or a new office in <strong class="highlight">Leeds</strong>. Our primary market is education but our product can (and has) been applied in a range of sectors.</p>
			</div>
			<hr />
			<%= yield %>
			<hr />
			<p>Find us on <a href="http://twitter.com/frogtrade" title="Frogtrade on twitter">twitter</a>, <a href="http://facebook.com/frogtrade" title="Frogtrade on Facebook">facebook</a> and <a href="http://frogtrade.com" title="Our website">visit the company site</a>. Contact our Development Manager @ <a href="mailto:john.walker@frogtrade.com" title="Email the Dev manager">john.Walker@frogtrade.com</a></p>
			<p><a href="http://creativecommons.org/licenses/by-sa/3.0/" title="Creative Licence"><img src="/images/logo-by-sa.png" alt="Creative Licence" title="Creative Licence" id="cc"/></a> This site is hosted on <a href="http://github.com/coffeerings/Recruitment" title="Get the source">github.com</a>, created using <a href="http://www.sinatrarb.com/" title="Lightweight web app framework">Sinatra</a> and deployed on <a href="http://code.google.com/appengine/" title="Deployed on google app engine">gaa</a>.</p>
			<hr />
			<p><em>oh and by the way, we've stopped ie6 support for new features :) </em></p>
		</div>
  </body>
</html>